@import "variables_drupal";
@import "variables_bootstrap";
@import "variables";
@import "mixins";
header {
    background-image: url(../img/header.png);
    min-height: 700px;
    background-position: center;
    background-position-y: top;
    @include background;
    .container.d-flex {
        max-width: 1275px;
    }
    .region-nav {
        &-branding {
            min-height: 114px;
            margin-top: 33px;
            width: 240px;
            background-color: $grey;
        }
        &-main {
            display: flex;
        }
    }

    .navbar {
        &-nav {
            a {
                color: $grey;
            }
            .nav-item {
                &::after {
                    content: "";
                    display: block;
                    height: 7px;
                    background-color: $blue;
                    position: absolute;
                    bottom: 0;
                    width: 0%;
                    transition: width ease-in-out 400ms;
                    margin-bottom: 7px;
                    margin-left: -12px;
                }
                &:hover::after {
                    width: 4%;
                }
            }
        }
        &-nav :first-child {
            a {
                background-image: url(../img/Homepage-menu.png);
                color: transparent;
                @include background;
                font-size: 9px;
                margin-top: 4px;
                margin-right: 10px;
            }
            .nav-item {
                &::after {
                    content: "";
                    display: block;
                    height: 7px;
                    background-color: $blue;
                    position: absolute;
                    bottom: 0;
                    width: 0%;
                    transition: width ease-in-out 400ms;
                    margin-bottom: 7px;
                    margin-left: -12px;
                }
                &:hover::after {
                    width: 2%;
                }
            }
        }

        &-collapse {
            background-color: white;
            min-height: 114px;
            margin-top: 32px;
        }
        &-brand {
            margin-top: 18px;
            text-align: center;
            .site {
                &-title {
                    font-family: "Noto Serif", serif;
                    font-weight: 600;
                    margin-left: 40px;
                    font-size: 28px;
                    text-transform: capitalize;
                    color: transparent;
                    &:hover {
                        color: transparent;
                    }
                }
                &-slogan {
                    color: white;
                    margin-left: $gutter-th;
                    font-size: 15px;
                    margin-top: -5px;
                    opacity: 0.7;
                }
            }
            div {
                a {
                    color: white !important;
                    color: transparent;
                    background-image: url(../img/logo.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    label {
        position: absolute;
        margin-left: 173px;
        font-size: 0px;
        height: 0px;
        color: transparent;
    }
    .form-search {
        max-width: 173px;
        height: $height-form;
    }
    .form-item-search {
        margin-left: 33px;
        margin-right: -14px;
        width: 173px;
        margin-top: 2em;
    }
}
.region-breadcrumb {
    margin-top: -410px;
    margin-left: 140px;
    margin-bottom: 395px;
    line-height: $line-height-second;
    position: absolute;
}
.creativity {
    &__title {
        font-size: 4em;
        color: white;
    }
    &__slogan {
        font-size: 2.5em;
    }
    &__text {
        font-size: 0.875em;
        margin-top: 8px;
        margin-left: 4px;
        color: $blue;
    }
}
