$center: 0 auto;


$grey: rgb(60,60,69);
$blue: #6c89b3;
$site-width: 1350px;
$gutter-th: 30px;
$gutter-ft: 15px;
$line-height-first: 1.2;
$line-height-second: 1;
$height-form: 40px;
$op-imp: 0.3;
$none: 0px;
