@import "variables_bootstrap";
@import "variables_drupal";
@import "variables";

@mixin responsiveTop($map) {
  @each $query, $top in $map {
    @media (max-width: $query) {
      top: $top;
    }
  }
}

@mixin own-container {
  max-width: 1275px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

@mixin style-h2($font-weight) {
  font-family: "Inter", sans-serif;
  position: relative;
  font-weight: $font-weight;
  text-align: center;
  margin-bottom: 25px;
  display: flex;
  white-space: nowrap;
  gap: 10px;
  &::before,
  &::after {
    @include line-title;
  }
}

@mixin line-background() {
  margin-top: 25px;
  padding-bottom: 70px;
  background: repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.1),
    #fff 2px,
    #fff 10px,
    #fff 0px
  );
}

@mixin line-background-empty() {
  margin-top: 0px !important;
  padding-top: 0px !important;
  background: none !important;
}
@mixin flag {
  text-align: end;
  margin-right: 40px;
}

@mixin line-title {
  content: " ";
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 50%;
  margin: auto 0;
}
