@import "../variables/variables_drupal";
@import "../variables/variables_bootstrap";
@import "../variables/variables";
@import "../variables/mixins";

// ABOUT PAGE STYLE

.block-system-main-block {
  article[data-history-node-id="6"] {

    .node__content {
      .layout-- {
        &onecol {
          .block-field-block {
            // STYLE FOR TITLE TEXT
            &nodepagetitle {
              span {
                text-transform: uppercase;
                font-size: calc(1rem + 1vw);
                font-weight: 700;
                text-align: center;
                margin-bottom:  10px;
                display: flex;
                gap: 10px;
                &::before,
                &::after {
                  @include line-title;
                }
              }
            }
            // STYLE FOR BODY TEXT
            &nodepagebody {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
