@import "../variables/variables_drupal";
@import "../variables/variables_bootstrap";
@import "../variables/variables";
@import "../variables/mixins";

.block-views-blockmain-page-about-block-1 {
  @include own-container;
  .view-main-page-about {
    .views-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 22px;
      text-transform: uppercase;
      font-family: "Inter", sans-serif;
      border-top: 5px solid #000;
      border-bottom: 5px solid #6e9bca;
      span a {
        font-size: 30px;
        text-decoration: none;
        color: #000;
        font-weight: 700;
      }
      .views-field-body {
        p {
          margin: 0;
          color: #cccccc;
        }
      }
      .views-field.views-field-view-node {
        background-color: #6e9bca;
        height: fit-content;
        padding-right: 6px;
        transition: all 0.3s;
        span {
          margin-top: 0;
          a {
            display: block;
            font-size: 14px;
            font-weight: normal;
            padding: 4px 0 5px 9px;
            margin: 0px;
            color: #fff;
            text-align: center;
          }
        }
      }
      .views-field.views-field-view-node:hover {
        background-color: rgb(55, 54, 69);
        span {
          a {
            color: #fff;
          }
        }
      }
    }
    @media (max-width: 1240px) {
      .view-content {
        padding: 0 10px;
        .views-field.views-field-view-node {
          width: 150px;
        }
      }
    }
    @media (max-width: 1020px) {
      .view-content {
        .views-field.views-field-title {
          a {
            font-size: 24px;
          }
        }
        .views-field.views-field-body {
          font-size: 14px;
        }
        .views-field.views-field-view-node {
          width: 200px;
        }
      }
    }
    @media (max-width: 860px) {
      .view-content {
        .views-field.views-field-view-node {
          width: 250px;
        }
      }
    }
    @media (max-width: 750px) {
      .view-content {
        .views-field.views-field-view-node {
          width: 250px;
        }
      }
    }
    @media (max-width: 720px) {
      .view-content {
        .views-row {
          display: flex;
          flex-direction: column;
          gap: 0;
          text-align: center;
          .views-field.views-field-title {
            margin-top: 5px;
          }
          .views-field.views-field-view-node {
            width: max-content;
            margin: 0 auto;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
