@import "../variables/variables_drupal";
@import "../variables/variables_bootstrap";
@import "../variables/variables";
@import "../variables/mixins";

// STYLE FOR MAIN BANNER
header {
  .contextual-region,
  .block-block-content {
    position: relative;

    // STYLE FOR IMAGE
    .field--name-field-image {
      img {
        width: 100%;
      }
    }
    // STYLE FOR TEXT
    & > .text-formatted {
      position: absolute;
      top: 40%;
      left: 10%;
      margin: 0 auto;
      width: 1250px;
      max-width: 1200px;
      left: calc(50% - 600px);
      right: calc(50% - 600px);
      text-transform: uppercase;
      padding-left: 119px;
      font-family: "Inter", sans-serif;
      @media (max-width: 1250px) {
        width: 100vw;
      }
      h2 {
        font-size: 67px;
        height: 65px;
        color: #fff;
        font-weight: 300;
      }
      h3 {
        font-style: normal;
        font-size: 40px;
        height: 46px;
        margin-bottom: 4px;
        padding-right: 5px;
        font-weight: 400;
      }
      p {
        font-size: 14px;
        color: #6f9ccb;
        width: 360px;
        line-height: 16px;
        padding-right: 5px;
      }

      @media (max-width: 678px) {
        text-align: center;
        padding-left: 0;
        h2,
        h3 {
          height: auto;
        }
        p {
          margin: 0 auto;
        }
      }
      @media (max-width: 478px) {
        h2 {
          font-size: 56px;
          margin-top: 70px;
        }
        p {
          margin: 0 auto;
          width: auto;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    .contextual-region,
    .block-block-content {
      & > .text-formatted {
        h2 {
          font-size: 50px;
          height: auto;
          font-weight: 300;
          margin-bottom: 0;
        }
        h3 {
          font-size: 30px;
          height: auto;
          font-weight: 400;
          margin-bottom: 0;
        }
        p {
          font-size: 14px;
          line-height: 16px;
          padding-right: 5px;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  header {
    .contextual-region,
    .block-block-content {
      & > .text-formatted {
        width: 100%;
        h2 {
          font-size: 40px;
          height: auto;
          font-weight: 600;
          margin-bottom: 0;
        }
        h3 {
          font-size: 20px;
          height: auto;
          font-weight: 500;
          margin-bottom: 0;
        }
        p {
          width: 250px;
          font-size: 12px;
          line-height: 16px;
          padding-right: 5px;
          font-weight: 500;
        }
      }
      .field--name-field-image {
        img {
          width: 100%;
          min-height: 350px;
          object-fit: cover;
          object-position: 60%;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  header {
    .contextual-region,
    .block-block-content {
      & > .text-formatted {
        background-color: rgba($color: #000000, $alpha: 0.1);
        h2 {
          margin-top: 0;
        }
      }
    }
  }
}
