@import "../variables/variables_drupal";
@import "../variables/variables_bootstrap";
@import "../variables/variables";
@import "../variables/mixins";


// STYLE
.block-views-blockall-clients-block-1 {
  margin-top: 20px !important;
  max-width: 1250px !important;
  padding: 0 !important;
  margin-bottom: 50px !important;
  .view-all-clients {
    max-width: 1250px !important;
    padding: 0 !important;
    .view-content {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      .views-row {
        text-align: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
      }
    }
  }
}

.block-views-blockmain-page-clients-block-1,
.block-views-blockall-clients-block-1 {
  @include own-container;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 160px;
  font-family: "Inter", sans-serif;
  & > h2 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
    &::before,
    &::after {
      @include line-title;
    }
  }
  .slick-track {
    display: flex;
    align-items: center;
    .slick-slide {
      padding: 0 10px;
    }
    .views-field-field-image {
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 800px) {
  .block-views-blockmain-page-clients-block-1 {
    margin-bottom: 100px;
  }
}

@media (max-width: 770px) {
  .block-views-blockall-clients-block-1 {
    margin-top: 50px;
    .view-all-clients {
      .view-content {
        .views-row {
          .views-field-field-image {
            max-width: 180px;
            padding: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .block-views-blockmain-page-clients-block-1,
  .block-views-blockall-clients-block-1 {
    padding: 0 20px;
  }
  .block-views-blockall-clients-block-1 {
    margin-top: 50px;
    // margin-bottom: 0;
    .view-all-clients {
      .view-content {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        .views-row {
          text-align: center;
          display: flex;
          align-items: center;
          margin: 0 auto;
          .views-field-field-image {
            padding: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .block-views-blockmain-page-clients-block-1 {
    margin-bottom: 50px;
  }
}
