@import "../variables/variables_drupal";
@import "../variables/variables_bootstrap";
@import "../variables/variables";
@import "../variables/mixins";

.block-views-blockmain-page-clients-block-1 {
  @include own-container;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 60px;
  font-family: "Inter", sans-serif;
  & > h2 {
    // @include alingnment;
    // width: 98%;
    // text-align: center;
    // font-size: 1.75rem;
    // display: flex;
    // gap: 14px;
    // margin-bottom: 70px;
    // &::before,
    // &::after {
    //   @include line-title;
    // }
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
    &::before,
    &::after {
      @include line-title;
    }
  }
  .slick-track {
    display: flex;
    align-items: center;
    .slick-slide {
      padding: 0 10px;
    }
    .views-field-field-image {
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 500px) {
  .block-views-blockmain-page-clients-block-1 {
    padding: 0 20px;
  }
}
