@import "../variables/variables_drupal";
@import "../variables/variables_bootstrap";
@import "../variables/variables";
@import "../variables/mixins";

footer {
  padding: 0;
  background-color: #373645;
  padding: 40px 0;
  .region-footer {
    flex-direction: row;
    justify-content: space-between;
    .navbar-brand {
      padding: 0;
      margin-right: 0;
      margin-top: 0;
      justify-content: center;
      text-align: center;
      .site-title {
        text-transform: initial;
        font-family: "Nexa Slab Regular FREE", sans-serif;
        color: #6f9ccb;
        font-size: 1.5em;
      }
      .site-slogan {
        text-transform: initial;
        font-family: "Nexa", sans-serif;
        color: white;
        font-size: 0.9em;
      }
    }
    .block-social-media-links {
      display: flex;
      align-items: center;
      justify-content: center;
      ul {
        margin: 0;
        a {
          color: #6e9bca;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  footer {
    .region-footer {
      .navbar-brand {
        .site-title {
          font-size: 20px;
        }
        .site-slogan {
          font-size: 12px;
        }
      }
    }
  }
}


@media (max-width: 990px) {
  footer {
    .region-footer {
      .navbar-brand {
        .site-slogan {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  footer {
    .region-footer {
      .block-social-media-links {
        ul {
          font-size: 12px;
        }
      }

    }
  }
}
