@import "../variables/variables_drupal";
@import "../variables/variables_bootstrap";
@import "../variables/variables";
@import "../variables/mixins";

// top: 39px !important;

$mediaQueries: (
  1350px: -460px,
  1250px: -430px,
  1200px: -410px,
  1150px: -390px,
  1080px: -370px,
  1030px: -350px,
  991px: 0px
);

body.path-frontpage {
  header {
    .navbar {
      position: relative;
      top: -75%;
      @include responsiveTop($mediaQueries);
    }
  }
}

body.path-node {
  header {
    .navbar {
      position: relative;
      top: 0;
    }
  }
}

header {
  width: 100%;
  .container.d-flex {
    max-width: 1275px;
  }
  .region-nav {
    &-branding {
      min-height: 114px;
      width: 240px;
      background-color: $grey;
    }
    &-main {
      display: flex;
    }
    &-additional {
      display: flex;
      .block-social-media-links {
        margin-right: 10px;
        a {
          color: #6e9bca;
        }
      }
    }
  }
  .region-header {
    margin-bottom: -10px;
  }

  .navbar {
    justify-content: center;
    text-transform: uppercase;

    .collapse {
      padding: 0 10px;
    }

    .region-nav-branding {
      justify-content: center;
      align-items: center;
      display: flex;
      .navbar-brand {
        padding: 0;
        margin-right: 0;
        margin-top: 0;
        justify-content: center;
        text-align: center;
        .site-title {
          text-transform: initial;
          font-family: "Nexa Slab Regular FREE", sans-serif;
          color: #6f9ccb;
          font-size: 1.5em;
        }
        .site-slogan {
          text-transform: initial;
          font-family: "Nexa", sans-serif;
          color: white;
          font-size: 0.8em;
          margin-top: -10px;
        }
      }
    }

    .region-nav-main {
      display: contents;
      ul {
        margin-top: 41px;
        li {
          a.nav-link {
            padding-right: 0.50rem;
            padding-left: 0.50rem;
            margin-left: 0.25rem;
            margin-right: 0.25rem;
            font-size: 14px;
            color: #373645;
            font-family: "Inter", sans-serif;
            transition: all 0.3s ease;
            border-bottom: 7px solid transparent;
            padding-bottom: 38px;
            position: relative;
            &:hover {
              border-bottom: 7px solid #6f9ccb;
            }
          }
          a.active,
          a.is-active {
            border-bottom: 7px solid #6f9ccb;
          }
          &:first-child {
            font-size: 0;
            background-image: url("../img/Homepage-menu.png");
            background-repeat: no-repeat;
            padding: 0 10px 0 0;
            margin: 0 10px 0 10px;
            a.nav-link {
              font-size: 0;
              padding-left: 16px;
              padding-bottom: 59px;
            }
          }
        }
      }
    }
    form {
      & > div.form-actions {
        background-image: url("../img/search.png");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
        margin-top: 8px;
        margin-left: 0 !important;
      }
      input.btn-primary {
        font-size: 0;
        border: 1px solid #cccccc;
        padding-top: 23px;
        padding-bottom: 15px;
        border-radius: 0;
        padding-right: 25px;
        background-color: transparent;
        transition: all 0.5s;
      }
      input.btn-primary:hover {
        border-color: black;
      }
      input.form-search {
        border-right-width: 0;
        border-radius: 0;
      }
    }

    &-collapse {
      background-color: white;
      min-height: 114px;
      justify-content: center !important;
    }
  }
  label {
    position: absolute;
    margin-left: 173px;
    font-size: 0px;
    height: 0px;
    color: transparent;
  }
  .form-search {
    max-width: 173px;
    height: $height-form;
  }
  .form-item-search {
    margin-left: 33px;
    margin-right: -14px;
    width: 173px;
    margin-top: 2em;
  }
}

@media (max-width: 1270px) {
  header {
    .navbar {
      .region-nav-branding {
        width: 200px;
        .navbar-brand {
          .site-title {
            font-size: 1.2em !important;
          }
          .site-slogan {
            font-size: 0.7em !important;
          }
        }
      }
      .region-nav-main {
        ul {
          li {
            a.nav-link {
              padding-right: 0.5rem;
              padding-left: 0.5rem;
              font-size: 12px;
              padding-bottom: 41px;
            }
          }
        }
      }
      .region-nav-additional {
        .block-social-media-links {
          a {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 1165px) {
  header {
    .navbar {
      .region-nav-branding {
        width: 150px;
        .navbar-brand {
          .site-title {
            font-size: 1em !important;
          }
          .site-slogan {
            font-size: 0.6em !important;
          }
        }
      }
      .region-nav-main {
        ul {
          li {
            a.nav-link {
              padding-right: 0.4rem;
              padding-left: 0.4rem;
              font-size: 12px;
              padding-bottom: 41px;
            }
          }
        }
      }
      .region-nav-additional {
        width: 300px;
        .block-social-media-links {
          a {
            font-size: 15px;
          }
        }
        .search-block-form {
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 1065px) {
  header {
    .navbar {
      .collapse {
        justify-content: start !important;
        width: 800px;
        .region-nav-main {
          ul {
            li {
              a.nav-link {
                padding-right: 0.3rem;
                padding-left: 0.3rem;
                padding-bottom: 41px;
              }
              &:first-child {
                padding: 0 5px;
                margin: 0 5px 0 5px;
                a.nav-link {
                  font-size: 0;
                  padding-left: 16px;
                  padding-bottom: 59px;
                }
              }
            }
          }
        }

        .region-nav-additional {
          width: 280px;
          .block-social-media-links {
            a {
              font-size: 12px;
            }
          }
          .search-block-form {
            width: 50%;
            form {
              width: 170px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  header {
    .navbar {
      position: fixed !important;
      top: 0 !important;
      width: 100%;
      background-color: $grey;
      z-index: 1000;
      // transition: top 0.9s ease-in-out;
      .navbar-toggler {
        color: rgb(255, 255, 255, 0.5);
        border-color: white;
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
      }
      .region-nav-branding {
        min-height: auto;
        padding: 10px;
        width: 180px !important;
        .site-slogan {
          display: block;
          font-size: 0.6em !important;
        }
      }

      .navbar-collapse {
        transition: all 0.5s;
        background-color: rgb(60, 60, 69);
        min-height: auto;
        .region-nav-main {
          nav {
            justify-content: center;
            display: flex;
            ul {
              width: 70%;
            }
          }
        }
        .region-nav-additional {
          padding-top: 20px;
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: center;
          .block-social-media-links {
            a {
              font-size: 12px;
            }
          }
          .search-block-form {
            width: 70%;
            max-width: none;
            form {
              flex-wrap: nowrap;
              flex-direction: row;
              width: 100%;
              max-width: none;
              .form-type-search {
                width: 100%;
                input {
                  width: 100%;
                  max-width: none;
                }
              }
              .form-actions {
                margin: 0 !important;
                background-color: white;
                border-radius: 0 5px 5px 0;
              }
            }
          }
        }
      }

      .region.region-nav-main {
        nav {
          text-align: center;
          ul.navbar-nav {
            li:first-child {
              background-position: top;
              a {
                padding: 20px;
              }
            }
            li {
              a {
                padding: 10px;
                color: white;
              }
            }
          }
        }
      }
    }
    .region-header {
      margin-bottom: -70px;
    }
  }
  main {
    padding-top: 100px;
  }
}

@media (max-width: 500px) {
  header {
    .navbar {
      .navbar-collapse {
        .region-nav-additional {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
