@import "../variables/variables_drupal";
@import "../variables/variables_bootstrap";
@import "../variables/variables";
@import "../variables/mixins";

header {
  // background-image: url("../img/header.png");
  // min-height: 700px;
  // background-position: center;
  // background-position-y: top;
  // @include background;
  width: 100%;
  .container.d-flex {
    max-width: 1275px;
  }
  .region-nav {
    &-branding {
      min-height: 114px;
      // margin-top: 33px;
      width: 240px;
      background-color: $grey;
    }
    &-main {
      display: flex;
    }
    &-additional {
      display: flex;
      .block-social-media-links {
        margin-right: 10px;
        a {
          color: #6e9bca;
        }
      }
    }
  }
  .region-header {
    margin-bottom: -115px;
  }

  .contextual-region,
  .block-block-content {
    // height: 100%;
    .field--name-field-image {
      img {
        width: 100%;
      }
    }

    & > .text-formatted {
      position: absolute;
      top: 40%;
      left: 10%;

      margin: 0 auto;
      width: 1250px;
      text-transform: uppercase;
      padding-left: 119px;
      // font-family: 'Avenir LT Pro';
      @media (max-width: 1250px) {
        width: 100vw;
      }
      h2 {
        // margin: 124px 0 0;
        font-size: 67px;
        height: 65px;
        color: #fff;
        font-weight: 300;
      }
      h3 {
        font-style: normal;
        font-size: 40px;
        height: 46px;
        margin-bottom: 4px;
        padding-right: 5px;
        font-weight: 400;
      }
      p {
        font-size: 14px;
        color: #6f9ccb;
        width: 360px;
        line-height: 16px;
        padding-right: 5px;
      }
      @media (max-width: 678px) {
        text-align: center;
        padding-left: 0;
        h2,
        h3 {
          height: auto;
        }
        p {
          margin: 0 auto;
        }
      }
      @media (max-width: 478px) {
        h2 {
          font-size: 56px;
          margin-top: 70px;
        }
        p {
          margin: 0 auto;
          width: auto;
        }
      }
    }
  }

  .navbar {
    position: relative;
    top: 0;

    // @if parent('#block-banner-2') {
    //   // position: relative;
    //   top: -75%;
    // }
    @if (selector-exists('#block-banner-2')) {
      top: -75%;
    }
    @else {
      position: initial; // Set position back to initial if #block-banner-2 does not exist
      top: 0; // Reset top position
    }

    justify-content: center;
    text-transform: uppercase;
    .navbar-brand {
      padding: 0;
      margin-right: 0;
      margin-top: 0;
      img {
        height: 115px;
        width: 240px;
        // margin: 0 0 0 -52px;
      }
    }
    .region-nav-main {
      display: contents;
      ul {
        margin-top: 41px;
        li {
          a.nav-link {
            padding-right: 0.6rem;
            padding-left: 0.75rem;
            font-size: 14px;
            color: #373645;
            transition: all 0.3s ease;
            border-bottom: 7px solid transparent;
            padding-bottom: 38px;
            &:hover {
              border-bottom: 7px solid #6f9ccb;
            }
          }
          &:first-child {
            font-size: 0;
            background-image: url("../img/Homepage-menu.png");
            background-repeat: no-repeat;
            padding: 0 10px 0 0;
            margin: 0 10px 0 -5px;
            a.nav-link {
              font-size: 0;
              padding-left: 16px;
              padding-bottom: 59px;
            }
          }
        }
      }
    }
    form {
      & > div.form-actions {
        background-image: url("../img/search.png");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
        margin-top: 8px;
        margin-left: 0 !important;
      }
      input.btn-primary {
        font-size: 0;
        border: 1px solid #cccccc;
        padding-top: 23px;
        padding-bottom: 15px;
        border-radius: 0 3px 3px 0;
        padding-right: 25px;
        background-color: transparent;
      }
      input.form-search {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right-width: 0;
      }
    }

    &-collapse {
      background-color: white;
      min-height: 114px;
      // margin-top: 32px;
      justify-content: center !important;
    }
  }
  label {
    position: absolute;
    margin-left: 173px;
    font-size: 0px;
    height: 0px;
    color: transparent;
  }
  .form-search {
    max-width: 173px;
    height: $height-form;
  }
  .form-item-search {
    margin-left: 33px;
    margin-right: -14px;
    width: 173px;
    margin-top: 2em;
  }
}
// .region-breadcrumb {
//     margin-top: -410px;
//     margin-left: 140px;
//     margin-bottom: 395px;
//     line-height: $line-height-second;
//     position: absolute;
// }
// .creativity {
//     &__title {
//         font-size: 4em;
//         color: white;
//     }
//     &__slogan {
//         font-size: 2.5em;
//     }
//     &__text {
//         font-size: 0.875em;
//         margin-top: 8px;
//         margin-left: 4px;
//         color: $blue;
//     }
// }
