body.path-frontpage {
  main {
    .container,
    .region-content {
      max-width: none;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.social-media-links--platforms *:hover {
  transition: all 0.5s ease;
  color: rgba(0, 68, 255, 0.973);
}



.block-views-blockservice-project-term-block-1,
.block-views-blockposition-people-term-block-1 {
  .view-service-project-term,
  .view-position-people-term {
    .view-header {
      a {
        color: #000;
        font-size: 32px;
        white-space: nowrap;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
        display: flex;
        gap: 10px;
        &::before,
        &::after {
          @include line-title;
        }
      }
    }
  }
}


#toolbar-administration {
  nav#toolbar-bar {
    position: fixed;
  }
}
