// REMOVE DEFAULT BOOTSTRAP5 STYLE
body.path-frontpage {
  main {
    .container,
    .region-content {
      max-width: none;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// HOVER FOR ALL SOCIAL MEDIA
.social-media-links--platforms *:hover {
  transition: all 0.5s ease;
  color: rgba(0, 68, 255, 0.973);
}

// STYLE FOT TITLE ON TAXONOMY PAGES
.block-views-blockservice-project-term-block-1,
.block-views-blockposition-people-term-block-1 {
  .view-service-project-term,
  .view-position-people-term {
    .view-header {
      a {
        @include style-h2(700);
        color: #000;
        font-size: calc(1.325rem + 0.9vw);
      }
    }
  }
}

// SET ADMIN MENU POSITION
#toolbar-administration {
  nav#toolbar-bar {
    position: fixed;
  }
}


.region-content {
  .block-page-title-block {
    h1 {
      @include style-h2(700);
      text-transform: uppercase;
      font-size: 2rem;
    }
  }
}
