// main {
//   .region.region-content {
//     padding: 0;
//   }
//   & > div > .row > .order-1 > .region > .block,
//   .region-breadcrumb {
//     width: 1250px;
//     margin-left: auto;
//     margin-right: auto;
//     @media (max-width: 1250px) {
//       width: 100vw;
//     }
//   }
//   // block-views-blockmain-page-projects-block-1
//   .block-views-blockmain-page-projects-block-1,
//   #block-views-block-view-news-block-1 {
//     width: 100%;
//   }
// }

body.path-frontpage {
  main {
    .container,
    .region-content {
      max-width: none;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// .block.block-core.block-page-title-block {
//   display: none;
// }

.block-system-main-block {
  article {
    .node__content {
      .layout-- {
        &onecol {
          .block-field-block {
            // STYLE FOR TITLE TEXT
            &nodepagetitle {
              span {
                white-space: nowrap;
                text-transform: uppercase;
                font-size: calc(1rem + 1vw);
                font-weight: 700;
                text-align: center;
                margin-bottom:  10px;
                display: flex;
                gap: 10px;
                &::before,
                &::after {
                  @include line-title;
                }
              }
            }
          }
        }
      }
    }
  }
}

