@import "../variables/variables_drupal";
@import "../variables/variables_bootstrap";
@import "../variables/variables";
@import "../variables/mixins";

// STYLE FOR ALL NEWS PAGE
.block-views-blockmain-page-articles-block-2 {
  margin: auto !important;
  margin-top: 20px !important;
  max-width: 1250px !important;
  padding: 0 !important;
  margin-bottom: 50px !important;
  // TITLE
  h2 {
    max-width: 1250px !important;
    padding: 0 !important;
  }
  // BACKGROUND LINES STYLE EMPTY
  & > div:last-child {
    @include line-background-empty;
  }
  // CONTENT STYLE
  .view-main-page-articles {
    max-width: 1250px !important;
    padding: 0 !important;
    .view-content {
      justify-content: center;
      flex-wrap: wrap;
      & > .views-row:first-child {
        margin-left: 5px;
      }

      & > .views-row:last-child {
        margin-right: 5px;
      }
      // NEWS ITEM
      .views-row {
        flex-basis: 48%;
        div.fieldsets-news {
          div.fieldset-news-author {
            div.name-position-time {
              div.name-position {
                flex-wrap: wrap;
              }
            }
          }
        }
      }
    }
  }
}

// STYLE FOR MAIN PAGE NEWS
.block-views-blockall-projects-block-1 {
  & > div:last-child {
    margin-top: 18px;
    padding-top: 69px;
    background: none !important;
  }
  // CONTENT STYLE
  .view-all-projects {
    .view-content {
      flex-wrap: wrap;
      gap: 0 !important;
      // NEWS ITEM
      .views-row {
        padding: 10px;
        border-bottom: none !important;
      }
    }
  }
}

// STYLE FOR BOTH BLOCKS ALL NEWS AND MAIN PAGE
.block-views-blockmain-page-articles-block-1,
.block-views-blockmain-page-articles-block-2 {
  text-transform: uppercase;
  margin-top: 50px;
  font-family: "Inter", sans-serif;
  // TITLE
  & > h2 {
    @include own-container;
    @include style-h2(700);
  }
  // BACKGROUND LINES STYLE
  & > div:last-child {
    @include line-background;
  }
  // CONTENT STYLE
  .view-main-page-articles {
    @include own-container;
    a {
      text-decoration: none;
    }
    // SEARCH FORM
    form > div.form--inline.clearfix {
      display: flex;
      fieldset {
        border: none;
        legend {
          display: none;
        }
        & > .fieldset-wrapper {
          padding: 0;
          & > div:first-child {
            display: none;
          }
          & > div:nth-child(2) {
            margin: 0;
            input {
              width: 340px;
              @media (max-width: 915px) {
                width: 40vw;
              }
            }
          }
        }
      }
      & > .form-actions.js-form-wrapper.form-wrapper {
        input {
          background-color: #67bfdc;
          border-color: #67bfdc;
        }
      }
    }
    // IF NO ELEM FOUND
    .view-empty {
      background-color: white;
      padding: 20px;
      font-weight: 600;
    }

    // CONTENT
    .view-content {
      display: flex;
      // REMOVE FOR NEWS MARGIN IN MAIN PAGE
      & > .views-row:first-child {
        margin-left: 0;
      }

      & > .views-row:last-child {
        margin-right: 0;
      }
      // NEWS ITEM
      .views-row {
        display: flex;
        background-color: #fff;
        flex-wrap: nowrap;
        flex-direction: row !important;
        gap: 10px;
        padding: 20px;
        margin: 5px;

        // DATE CREATED
        .fieldsets-authored-on {
          .news-created-month {
            display: flex;
            justify-content: center;
            font-size: 27px;
          }
          .news-created-day {
            display: flex;
            justify-content: center;
            font-size: 47px;
            color: $blue;
            font-weight: 600;
            line-height: $line-height-second;
            margin-top: -10px;
          }
          .news-created-year {
            display: flex;
            justify-content: center;
            margin-top: -6px;
            opacity: $op-imp;
            font-size: 15px;
          }
        }
        // NEWS INFORMATION
        div.fieldset-news-author {
          display: flex;
          width: 100%;
          font-size: 0.75em;
          padding-left: 15px;
          border-left: 1px solid #ccc;
          // IMAGE
          .views-field-field-image {
            width: 80px;
            height: auto;
          }
          // AUTHOR NAME, POSITION, TIME AGO
          .views-field.views-field-fieldset-1 {
            flex: 1;

            div.name-position-time {
              display: flex;
              flex-direction: row;
              div.name-position {
                display: flex;
                flex-direction: row;
                .views-field-title-2 {
                  margin-left: 5px;
                  display: flex;
                  // AUTHOR NAME
                  .field-content {
                    width: max-content;
                    a {
                      color: black;
                    }
                    &::before {
                      content: "WRITER ";
                      color: #ccc;
                    }
                    &::after {
                      content: " /";
                    }
                  }
                }
                // AUTHOR POSITION
                .views-field-field-position {
                  margin-left: 5px;
                  .field-content {
                    width: max-content;
                    a {
                      color: #6e9bca;
                    }
                  }
                }
              }
              // TIME AGO
              .views-field-created-1 {
                text-align: right;
                flex: 1;
                color: #ccc;
                width: 80px;
              }
            }
          }
        }
        // NEWS TITLE, BODY, LINK
        div.fieldset-news-node {
          padding-left: 15px;
          border-left: 1px solid #ccc;
          // NEWS TITLE
          .views-field-title-1 {
            font-size: 1.625em;
            margin: 10px 0 0;
          }
          // NES BODY
          .views-field-body {
            font-size: 0.75em;
            line-height: 14px;
            .field-content {
              padding: 10px 0 0 0;
              margin-bottom: 0;
              text-align: justify;
              @media (max-width: 998px) {
                border-left: none;
              }
            }
          }
          // NEWS LINK
          .views-field-view-node {
            text-align: right;
            font-size: 0.9375em;
            margin: 17px 0;
            .field-content {
              padding: 7px 0.5em;
              background-color: #373645;
              transition: all 0.3s;
              a {
                color: #fff;
              }
            }
            .field-content:hover {
              background-color: #6e9bca;
              a {
                color: #fff;
              }
            }
          }
        }
      }
    }
    // FORM ADAPTIVE
    @media (max-width: 1320px) {
      form > .form--inline.clearfix {
        justify-content: center;
      }
      .view-content .views-row {
        flex-direction: column;
      }
    }
  }
}

// ADAPTIVE
@media (max-width: 1200px) {
  .block-views-blockmain-page-articles-block-2 {
    .view-main-page-articles {
      .view-content {
        .views-row {
          flex-basis: auto;
        }
      }
    }
  }
  .block-views-blockmain-page-articles-block-1,
  .block-views-blockmain-page-articles-block-2 {
    .view-main-page-articles {
      .view-content {
        .views-row {
          div.fieldsets-news {
            div.name-position-time {
              div.name-position {
                flex-direction: column !important;
                .views-field-title-2 {
                  .field-content {
                    &::after {
                      content: "" !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .block-views-blockmain-page-articles-block-1,
  .block-views-blockmain-page-articles-block-2 {
    .view-main-page-articles {
      .view-content {
        flex-wrap: wrap;
        .views-row {
          div.fieldsets-news {
            div.name-position-time {
              div.name-position {
                flex-direction: row !important;
                .views-field-title-2 {
                  .field-content {
                    &::after {
                      content: " /" !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .block-views-blockmain-page-articles-block-1,
  .block-views-blockmain-page-articles-block-2 {
    .view-main-page-articles {
      .view-content {
        flex-wrap: wrap;
        .views-row {
          div.fieldsets-news {
            div.name-position-time {
              div.name-position {
                flex-direction: column !important;
                .views-field-title-2 {
                  .field-content {
                    &::after {
                      content: "" !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .block-views-blockmain-page-articles-block-1,
  .block-views-blockmain-page-articles-block-2 {
    .view-main-page-articles {
      .view-content {
        flex-wrap: wrap;
        .views-row {
          flex-direction: column !important;
          div.fieldsets-news {
            .fieldset-news-author {
              padding-left: 0;
              border: none;
            }
            .fieldset-news-node {
              padding-left: 0;
              border: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .block-views-blockmain-page-articles-block-1,
  .block-views-blockmain-page-articles-block-2 {
    h2 {
      padding: 0 20px;
    }
    .view-main-page-articles {
      padding: 0 20px;
    }
  }
}

@media (max-width: 410px) {
  .block-views-blockmain-page-articles-block-1,
  .block-views-blockmain-page-articles-block-2 {
    .view-main-page-articles {
      padding: 0 20px;
      .view-content {
        .views-row {
          div.fieldsets-news {
            div.fieldset-news-author {
              flex-direction: column;
              .views-field-field-image {
                padding-bottom: 10px;
                align-self: center;
              }
              div.name-position-time {
                div.name-position {
                  .views-field.views-field-title-2,
                  .views-field.views-field-field-position {
                    margin-left: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .block-views-blockmain-page-articles-block-1,
  .block-views-blockmain-page-articles-block-2 {
    .view-main-page-articles {
      padding: 0 20px;
      .view-content {
        .views-row {
          div.fieldsets-news {
            div.fieldset-news-author {
              flex-direction: column;
              .views-field-field-image {
                padding-bottom: 10px;
                align-self: center;
              }
              div.name-position-time {
                flex-direction: column !important;
                .views-field.views-field-created-1 {
                  width: auto;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}

// IF EXISTS ADMIN TOOLBAR GIVE DIFF ADAPTIVE STYLE
@if (selector-exists(".toolbar-administration")) {
  @media (max-width: 880px) {
    .block-views-blockmain-page-articles-block-1,
    .block-views-blockmain-page-articles-block-2 {
      .view-main-page-articles {
        .view-content {
          flex-wrap: wrap;
          .views-row {
            div.fieldsets-news {
              div.name-position-time {
                div.name-position {
                  flex-direction: column !important;
                  .views-field-title-2 {
                    .field-content {
                      &::after {
                        content: "" !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 780px) {
    .block-views-blockmain-page-articles-block-1,
    .block-views-blockmain-page-articles-block-2 {
      .view-main-page-articles {
        .view-content {
          flex-wrap: wrap;
          .views-row {
            flex-direction: column !important;
            div.fieldsets-news {
              .fieldset-news-author {
                padding-left: 0;
                border: none;
              }
              .fieldset-news-node {
                padding-left: 0;
                border: none;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 700px) {
    .block-views-blockmain-page-articles-block-1,
    .block-views-blockmain-page-articles-block-2 {
      h2 {
        padding: 0 20px;
      }
      .view-main-page-articles {
        padding: 0 20px;
      }
    }
  }
  @media (max-width: 650px) {
    .block-views-blockmain-page-articles-block-1,
    .block-views-blockmain-page-articles-block-2 {
      .view-main-page-articles {
        padding: 0 20px;
        .view-content {
          .views-row {
            div.fieldsets-news {
              div.fieldset-news-author {
                flex-direction: column;
                .views-field-field-image {
                  padding-bottom: 10px;
                  align-self: center;
                }
                div.name-position-time {
                  div.name-position {
                    .views-field.views-field-title-2,
                    .views-field.views-field-field-position {
                      margin-left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
