@import "../variables/variables_drupal";
@import "../variables/variables_bootstrap";
@import "../variables/variables";
@import "../variables/mixins";

// NODE STYLE FOR services, projects, clients
.block-system-main-block {
  .node--type-service.node--view-mode-full,
  .node--type-project.node--view-mode-full,
  .node--type-people.node--view-mode-full,
  .node--type-client.node--view-mode-full {
    margin-top: 50px;
    margin-bottom: 50px;

    .node__content {
      .layout__region--content {
        padding: 0 20px;
        .block-field-blocknodeproject {
          &field-image {
            float: right;
            img {
              width: 330px !important;
            }
          }
        }
        .block-field-blocknodeservice,
        .block-field-blocknodeproject,
        .block-field-blocknodeclient {
          // IMG STYLE
          &field-image {
            float: right;
            img {
              margin: 30px;
              margin-top: -110px;
              width: 220px;
              height: auto;
              max-height: 400px;
            }
          }
          // TITLE BLOCK STYLE
          &title {
            font-size: 32px;
            font-weight: 600;
            color: black;
            margin-bottom: 70px;
            font-family: "Inter", sans-serif;
          }
          // CONTENT STYLE
          &body,
          &-nodefield-contents {
            font-size: 32px;
            font-family: "Inter", sans-serif;
          }

          &field-service {
            font-size: 18px;
            a {
              text-transform: uppercase;
              text-decoration: none;
            }
          }
        }
        // TEAM FIELD
        .block-field-blocknodepeople {
          // IMAGE STYLE
          &field-image {
            display: flex;
            justify-content: center;
            width: 100%;

            img {
              width: 300px;
              height: auto;
            }
          }
          // TEAM NAME
          &title {
            display: flex;
            justify-content: center;
            font-size: 32px;
            font-weight: 600;
            font-family: "Inter", sans-serif;
          }
          // POSITION
          &field-position {
            font-size: 24px;
            font-family: "Inter", sans-serif;

            a {
              text-decoration: none;
              color: #6e9bca;
            }
          }
          // SOCIAL LINKS
          &field-social-links {
            width: max-content;
            ul {
              li {
                a {
                  color: #6e9bca;
                }
              }
            }
          }
          &body {
            font-size: 24px;
            font-family: "Inter", sans-serif;
          }
        }
        .block-extra-field-blocknodepeopleflag-like {
          width: min-content;
          .flag-like {
            margin: 0;
            a {
              color: #e84c3d;
              font-size: 18px;
            }
          }
        }
        .block-field-blocknodepeoplefield-position,
        .block-field-blocknodepeoplefield-social-links,
        .block-extra-field-blocknodepeopleflag-like {
          display: inline-block;
          width: 33%;
          text-align: center;
          .flag-like {
            text-align: center;
          }
        }
      }
    }
  }
  // NEWS NODE
  .node--type-article.node--view-mode-full {
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

    .layout--twocol-section--25-75 {
      .layout__region {
        &--first {
          flex: 0 1 22%;
          margin-right: 30px;
          border-right: 1px solid $grey;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          .block-field-blocknodearticle {
            // DATE STYLE
            &created {
              width: 100%;
              height: max-content;
              text-align: center;
              text-transform: uppercase;
              font-size: 32px;
              font-weight: 600;
              color: black;
              font-family: "Inter", sans-serif;
            }
          }
          .block-field-blocknodearticlefield-people {
            h2 {
              display: none;
            }
            .layout__region--content {
              .block-field-blocknodepeoplefield-image {
                width: 100%;
                text-align: center;
              }
              .block-field-blocknodepeopletitle,
              .block-field-blocknodepeoplefield-position {
                text-align: center;
                a {
                  text-decoration: none;
                  color: black;
                  font-family: "Inter", sans-serif;
                }
              }
            }
          }
        }

        &--second {
          flex: 1;

          .block-field-blocknodearticle {
            // NEWS TITLE
            &title {
              font-size: 32px;
              font-weight: 600;
              color: black;
              margin-bottom: 20px;
              font-family: "Inter", sans-serif;
            }
            // CONTENT
            &body,
            &field-contents {
              p {
                color: black;
                font-family: "Inter", sans-serif;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .block-system-main-block {
    .node--type-service.node--view-mode-full,
    .node--type-project.node--view-mode-full,
    .node--type-people.node--view-mode-full,
    .node--type-client.node--view-mode-full {
      .node__content {
        .layout__region--content {
          .block-field-blocknodeservice,
          .block-field-blocknodeproject,
          .block-field-blocknodeclient {
            // IMG STYLE
            &field-image {
              img {
                width: 200px;
              }
            }
            // CONTENT STYLE
            &body,
            &-nodefield-contents {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .block-system-main-block {
    .node--type-service.node--view-mode-full,
    .node--type-project.node--view-mode-full,
    .node--type-people.node--view-mode-full,
    .node--type-client.node--view-mode-full {
      .node__content {
        .layout__region--content {
          .block-field-blocknodepeoplefield-position,
          .block-field-blocknodepeoplefield-social-links,
          .block-extra-field-blocknodepeopleflag-like {
            width: 32.5%;
          }
          .block-field-blocknodeproject {
            // IMG STYLE
            &field-image {
              float: right;
              img {
                max-width: 200px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .block-system-main-block {
    .node--type-people.node--view-mode-full {
      .node__content {
        .layout__region--content {
          .block-field-blocknodepeoplefield-position,
          .block-field-blocknodepeoplefield-social-links,
          .block-extra-field-blocknodepeopleflag-like {
            display: block;
            width: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .block-system-main-block {
    .node--type-service.node--view-mode-full,
    .node--type-project.node--view-mode-full,
    .node--type-client.node--view-mode-full {
      .node__content {
        .layout__region--content {
          .block-field-blocknodeservice,
          .block-field-blocknodeproject,
          .block-field-blocknodeclient {
            // IMG STYLE
            &field-image {
              img {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .block-system-main-block {
    .node--type-service.node--view-mode-full,
    .node--type-project.node--view-mode-full,
    .node--type-people.node--view-mode-full,
    .node--type-client.node--view-mode-full {
      .node__content {
        .layout__region--content {
          .block-field-blocknodeservice,
          .block-field-blocknodeproject,
          .block-field-blocknodeclient {
            // IMG STYLE
            &field-image {
              img {
                width: 100px;
              }
            }
            // TITLE STYLE
            &title {
              text-align: center;
            }
            // CONTENT STYLE
            &body,
            &-nodefield-contents {
              font-size: 18px;
            }

            &field-service {
              font-size: 16px;
            }
          }
          .block-field-blocknodeproject {
            &field-image {
              img {
                width: 200px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .block-system-main-block {
    .node--type-project.node--view-mode-full {
      .node__content {
        .layout__region--content {
          .block-field-blocknodeproject {
            // IMG STYLE
            &field-image {
              img {
                max-width: 150px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .block-system-main-block {
    .node--type-project.node--view-mode-full {
      .node__content {
        .layout__region--content {
          .block-field-blocknodeproject {
            // IMG STYLE
            &field-image {
              img {
                max-width: 100px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .block-system-main-block {
    .node--type-service.node--view-mode-full,
    .node--type-project.node--view-mode-full,
    .node--type-people.node--view-mode-full,
    .node--type-client.node--view-mode-full {
      .node__content {
        .layout__region--content {
          .block-field-blocknodeproject {
            // IMG STYLE
            &field-image {
              img {
                max-width: 200px;
              }
            }
          }
          .block-field-blocknodeservice,
          .block-field-blocknodeproject,
          .block-field-blocknodeclient {
            // IMG STYLE
            &field-image {
              float: none;
              text-align: center;
              img {
                margin: 30px 0;
              }
            }
            // TITLE BLOCK STYLE
            &title {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .block-system-main-block {
    .node--type-people.node--view-mode-full {
      .node__content {
        .layout__region--content {
          // TEAM FIELD
          .block-field-blocknodepeople {
            // TEAM NAME
            &title {
              font-size: 24px;
            }
            // POSITION
            &field-position {
              float: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .block-system-main-block {
    .node--type-article.node--view-mode-full {
      .layout--twocol-section--25-75 {
        .layout__region {
          &--first {
            margin-right: 10px;
            padding-right: 10px;
            .block-field-blocknodearticle {
              // NEWS DATE
              &created {
                font-size: 24px;
              }
            }
          }
          &--second {
            flex: 1;
            .block-field-blocknodearticle {
              // NEWS TITLE
              &title {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .block-system-main-block {
    .node--type-article.node--view-mode-full {
      .layout--twocol-section--25-75 {
        .layout__region {
          &--first {
            .block-field-blocknodearticlefield-people {
              .layout__region--content {
                .block-field-blocknodepeoplefield-image {
                  width: 70px;
                }
              }
            }
          }
        }
      }
    }
  }
}
