@import "../variables/variables_drupal";
@import "../variables/variables_bootstrap";
@import "../variables/variables";
@import "../variables/mixins";

.block-views-blockall-people-block-1 {
  margin: auto !important;
  margin-top: 20px !important;
  max-width: 1250px !important;
  padding: 0 !important;
}

.block-views-blockmain-page-people-block-1,
.block-views-blockall-people-block-1 {
  @include own-container;

  text-transform: uppercase;
  // margin: 50px 0 50px 0;
  margin-top: 50px;
  margin-bottom: 50px;
  // margin-top: 106px;
  // margin-bottom: 110px;
  font-family: "Inter", sans-serif;
  & > h2 {
    // // @include alingnment;
    // // width: 98%;
    // text-align: center;
    // font-size: 1.75rem;
    // display: flex;
    // gap: 14px;
    // margin-bottom: 34px;
    // &::before,
    // &::after {
    //   @include line-title;
    //   // width: 43%;
    // }
    // font-weight: 300;
    position: relative;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    white-space: nowrap;
    gap: 10px;
    &::before,
    &::after {
      @include line-title;
    }
  }
  .view-all-people {
    .view-content {
      flex-wrap: wrap;
      .views-row {
        width: 300px !important;
      }
    }
  }
  .view-main-page-people,
  .view-all-people {
    // @include alingnment;
    a {
      text-decoration: none;
    }
    .view-content {
      text-align: center;
      display: flex;
      justify-content: space-between;
      .views-row {
        // width: 23.3% !important;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;

        .social-likes {
          .views-field-view-node-1 {
            display: none;
          }
        }

        .views-field-field-image {
          a img {
            width: 290px;
            // height: 290px;
            // -webkit-filter: grayscale(100%);
            // filter: grayscale(100%);
            // -webkit-transition: 0.3s ease-in-out;
            // transition: 0.3s ease-in-out;
            // &:hover {
            //   -webkit-filter: grayscale(0);
            //   filter: grayscale(0);
            // }
          }
        }
        .views-field.views-field-title {
          margin-top: 32px;
          a {
            font-size: 25px;
            text-decoration: none;
            color: #000;
          }
        }
        .views-field.views-field-field-position {
          font-size: 0.75rem;
          a {
            color: #cccccc;
          }
        }
        .views-field-view-node {
          margin-top: 9px;
          span {
            display: inline-block;
            background-color: #373645;
            padding: 3px 0;
            border-radius: 3px;
            a {
              color: #fff;
              padding: 0 8px;
              font-size: 14px;
            }
          }
        }
        .views-field-field-social-links {
          display: block;
          text-align: left;
          float: left;
          padding-left: 30px;
          padding-top: 19px;
          .field-content {
            a {
              color: #6e9bca;
            }
          }
        }
        .views-field-link-flag {
          .flag.flag-like {
            padding-top: 24px;
            a {
              // color: #B2B2B3;
              color: #e84c3d;
              // padding-left: 100px;
            }
          }
          .js-flag-message {
            display: none;
          }
        }
      }

      @media (max-width: 1098px) {
        .views-col {
          width: 48% !important;
          margin-bottom: 20px;
        }
        .views-field-addtoany-share {
          padding-left: 115px;
        }
        .views-field-link-flag {
          .flag.flag-like {
            a {
              padding-left: 30px;
            }
          }
        }
      }
      @media (max-width: 520px) {
        .views-col {
          width: 98% !important;
        }
      }
    }
  }
}

.action-flag,
.action-unflag {
  @include flag;
  a {
    font-size: 18px;
  }
}
// .action-unflag {
//   @include flag;
//   a {
//     font-size: 18px;
//   }
// }

@media (max-width: 1200px) {
  .block-views-blockmain-page-people-block-1,
  .block-views-blockall-people-block-1 {
    .view-main-page-people,
    .view-all-people {
      .view-content {
        .views-row {
          .views-field.views-field-fieldset {
            .social-likes {
              display: flex;
              flex-direction: row;
              .views-field-field-social-links {
                // padding-left: 20px;
                ul {
                  font-size: 12px;
                }
              }
              .views-field.views-field-link-flag {
                flex: 1;
                // margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1060px) {
  .block-views-blockmain-page-people-block-1,
  .block-views-blockall-people-block-1 {
    .view-main-page-people,
    .view-all-people {
      .view-content {
        .views-row {
          .views-field.views-field-fieldset {
            .social-likes {
              .views-field-field-social-links {
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .block-views-blockmain-page-people-block-1,
  .block-views-blockall-people-block-1 {
    .view-main-page-people,
    .view-all-people {
      .view-content {
        justify-content: center;
        flex-wrap: wrap;
        .views-row {
          width: 400px;
          .views-field.views-field-fieldset {
            .social-likes {
              justify-content: space-around;
              .views-field-field-social-links {
                padding-left: 40px;
                ul {
                  font-size: 15px;
                }
              }
              .views-field.views-field-link-flag {
                flex: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .block-views-blockmain-page-people-block-1,
  .block-views-blockall-people-block-1 {
    .view-main-page-people,
    .view-all-people {
      .view-content {
        .views-row {
          width: 300px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .block-views-blockmain-page-people-block-1,
  .block-views-blockall-people-block-1 {
    .view-main-page-people,
    .view-all-people {
      .view-content {
        .views-row {
          width: 250px;
          .views-field.views-field-fieldset {
            .social-likes {
              .views-field-field-social-links {
                padding-left: 30px;
                ul {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .block-views-blockmain-page-people-block-1,
  .block-views-blockall-people-block-1 {
    .view-main-page-people,
    .view-all-people {
      .view-content {
        .views-row {
          width: 200px;
          .views-field.views-field-fieldset {
            .social-likes {
              .views-field-field-social-links {
                padding-left: 10px;
                ul {
                  font-size: 12px;
                }
              }
              .views-field.views-field-link-flag {
                .flag-like {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .block-views-blockmain-page-people-block-1,
  .block-views-blockall-people-block-1 {
    padding: 0 20px;
    .view-main-page-people,
    .view-all-people {
      .view-content {
        .views-row {
          width: 280px;
        }
      }
    }
  }
}
