// PAGINATION STYLE
nav {
  ul.pagination {
    gap: 10px;
    margin-top: 40px;
    li a {
      border-radius: 20px !important;
      color: rgba(100, 100, 100);
      &:hover {
        color: #fff;
      }
    }
    .page-item.active .page-link {
      background-color: #dddcdd;
      border-color: transparent;
      color: #000;
    }
    .page-item .page-link {
      &:hover {
        background-color: #646464;
      }
    }
    .page-link {
      background-color: transparent;
      border: none;
    }
    li.disabled {
      display: none;
    }
  }
}

@media (max-width: 424px) {
  nav.pager {
    ul {
      gap: 5px;
    }
  }
}

@media (max-width: 390px) {
  nav.pager {
    ul {
      gap: 0;
    }
  }
}
