@import "../variables/variables_drupal";
@import "../variables/variables_bootstrap";
@import "../variables/variables";
@import "../variables/mixins";

.block-views-blockmain-page-projects-block-1 {
  text-transform: uppercase;
  margin-top: 50px;
  font-family: "Inter", sans-serif;
  & > h2 {
    @include own-container;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
    &::before,
    &::after {
      @include line-title;
    }
  }
  & > div:last-child {
    margin-top: 18px;
    padding-top: 69px;
    background: repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.1),
      #fff 2px,
      #fff 10px,
      #fff 0px
    );
  }
  .view-main-page-projects {
    @include own-container;
    // @include alingnment;
    a {
      text-decoration: none;
    }
    .view-content {
      text-align: center;
      display: flex;
      justify-content: space-between;
      .views-row {
        border-bottom: 1px solid #373645;
        padding-bottom: 12px;
        background-color: #fff;
        width: 23.3% !important;
        // margin-left: 20px;
        .views-field-field-image {
          img {
            // height: 290px;
            width: 290px;
          }
        }
        .views-field.views-field-title {
          margin: 32px 0 3px;
          a {
            font-size: 1.5rem;
            text-decoration: none;
            color: #000;
          }
        }
        .views-field-view-node {
          span {
            display: inline-block;
            margin-top: 17px;
            background-color: rgb(55, 54, 69);
            //width: 98px;
            //margin: 0 auto;
            padding: 3px 0;
            border-radius: 3px;
            a {
              color: #fff;
              padding: 6px 10px;
            }
          }
        }
      }

      @media (max-width: 1260px) {
        .views-col {
          width: 22% !important;
          //border-bottom: none;
          //background-color: transparent;
          .views-field.views-field-title {
            a {
              font-size: 1.3rem;
            }
          }
          .views-field-field-projects-image {
            height: auto;
            img {
              height: 22vw;
            }
          }
        }
      }
      @media (max-width: 950px) {
        .views-col {
          display: block;
          width: 46% !important;
          margin-bottom: 20px;
          border-bottom: none;
          background-color: transparent;
          .views-field-field-projects-image {
            img {
              height: 35vw;
            }
          }
        }
      }
      @media (max-width: 520px) {
        .views-col {
          width: 98% !important;
          margin-left: 0;
          .views-field-field-projects-image {
            img {
              height: 55vw;
            }
          }
        }
      }
      @media (max-width: 460px) {
        .views-field-field-projects-image {
          img {
            height: 70vw;
          }
        }
      }
    }
    nav {
      ul.pagination {
        gap: 10px;
        margin-top: 40px;
        li a {
          border-radius: 20px;
          color: rgba(100, 100, 100);
          &:hover {
            color: #fff;
          }
        }
        .page-item.active .page-link {
          background-color: #dddcdd;
          border-color: transparent;
          color: #000;
        }
        .page-item .page-link {
          &:hover {
            background-color: #646464;
          }
        }
        .page-link {
          background-color: transparent;
          border: none;
        }
        li.disabled {
          display: none;
        }
      }
    }
  }
}

.views-field-field-service {
  a[href*="/taxonomy/term/8"] {
    color: #1bbc9b;
  }
  a[href*="/taxonomy/term/7"] {
    color: #9b58b5;
  }
  a[href*="/taxonomy/term/5"] {
    color: #e84c3d;
  }
  a[href*="/taxonomy/term/6"] {
    color: #32ade1;
  }
}
