@import "../variables/variables_drupal";
@import "../variables/variables_bootstrap";
@import "../variables/variables";
@import "../variables/mixins";

// SERVIVE ALL PAGE
.block-views-blockall-services-block-1,
.block-system-main-block {
  margin-top: 20px !important;
  max-width: 1250px !important;
  padding: 0 !important;
  margin-bottom: 50px !important;
}
// SERVIVE ALL PAGE, MAIN PAGE
.block-views-blockmain-page-services-block-1,
.block-views-blockall-services-block-1,
.block-system-main-block {
  @include own-container;

  margin-top: 50px;
  font-family: "Inter", sans-serif;
  // TITLE
  & > h2 {
    @include style-h2(700);
  }
  // DIFF STYLE FOR ALL PAGE
  .view-all-services {
    // CONTENT
    .view-content {
      justify-content: space-evenly !important;
      flex-wrap: wrap;
      // SERVIVE ITEM
      .views-row {
        width: 300px !important;
      }
    }
  }
  .view-main-page-services,
  .view-all-services {
    text-transform: uppercase;
    // CONTENT
    .view-content {
      gap: 100px 0;
      display: flex;
      text-align: center;
      justify-content: space-between;
      // SERVIVE ITEM
      .views-row {
        width: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
      }

      .views-row div:last-child {
        .views-field.views-field-title {
          margin-top: 29px;
        }
      }
      // TITLE
      .views-field.views-field-title {
        margin-top: 32px;
        a {
          font-size: 22px;
          text-decoration: none;
          color: #000;
        }
      }
      // SHORT TEXT
      .views-field-body {
        font-size: 0.75rem;
        padding: 8px 19px 0;
        color: #cccccc;
      }
      // LINK
      .views-field-view-node {
        margin-top: 21px;
        span {
          display: block;
          background-color: #6e9bca;
          width: 98px;
          margin: 0 auto;
          padding: 3px 0;
          transition: all 0.3s;
          a {
            font-size: 14px;
            text-decoration: none;
            color: #fff;
          }
        }
        span:hover {
          background-color: rgb(55, 54, 69);
          a {
            color: #fff;
          }
        }
      }
    }
  }
}

// ADAPTIVE
@media (max-width: 1024px) {
  .block-views-blockmain-page-services-block-1,
  .block-views-blockall-services-block-1,
  .block-system-main-block {
    .view-main-page-services,
    .view-all-services {
      .view-content {
        gap: 80px 0;
        justify-content: center;
        flex-wrap: wrap;
        .views-row {
          width: 400px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .block-views-blockmain-page-services-block-1,
  .block-views-blockall-services-block-1,
  .block-system-main-block {
    .view-main-page-services,
    .view-all-services {
      .view-content {
        gap: 50px 0;
        .views-row {
          width: 300px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .block-views-blockmain-page-services-block-1,
  .block-views-blockall-services-block-1,
  .block-system-main-block {
    .view-main-page-services,
    .view-all-services {
      .view-content {
        .views-row {
          width: 250px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .block-views-blockmain-page-services-block-1,
  .block-views-blockall-services-block-1,
  .block-system-main-block {
    .view-main-page-services,
    .view-all-services {
      .view-content {
        .views-row {
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .block-views-blockmain-page-services-block-1,
  .block-views-blockall-services-block-1,
  .block-system-main-block {
    padding: 0 20px;
    .view-main-page-services,
    .view-all-services {
      .view-content {
        .views-row {
          width: 280px;
        }
      }
    }
  }
}
